/*common style starts from here*/

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 3.5rem;
}

h2{
    font-size: 2.5rem;
}

p{
  font-size: 1.1rem;
}

.text-color{
    color: #0d55f0;
}

.flexible-display{
    display: flex;
}
/*common style ends from here*/

/*top section starts from here*/
#top-section{
    padding: 3% 4%;
}

.text-area{
    width: 50%;
    margin: 20px 30px;
}

.text-area a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.image-area{
    width: 50%;
}

.image-area img{
    width: 80%;
}

.btn-click{
    background: linear-gradient(45deg,#5ca7a7,#0d55f0);
    padding: 20px 45px;
    border: none;
    border-radius: 30px;
    margin-top: 40px;
}
/*top section ends from here*/

/*about us section starts from here*/
 #aboutus-section{
    background-image: url("images/about-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;    
 }

 .image-about{
     width: 50%;
     margin: 120px;
 }

 .image-about img{
    margin-left: 60px;
 }

 .about-text{
    width: 50%;
     margin:200px;
 }
 .about-text a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
/*about us section ends from here*/

/*food menu section starts from here*/
  #food-menu{
    padding: 3% 4%;
  }

  .recipies{
      text-align: center;
      width: 60%;
      margin: auto;
      margin-bottom: 20px;
  }

  .card{
      margin: 20px;
      padding: 10px;
      border-radius: 25px;
      box-shadow: 3px 5px 32px rgb(163, 159, 159);
     text-align:inherit;
  }

  .card-image{
    padding: 10px; 
  }

  .card-image img{
    border-radius: 25px;
    
  }

  .card-title{
      padding: 10px;
      font-size: 1.8rem;
  }

  .card-text{
      padding: 10px;
  }
/*food menu section ends from here*/

/*review starts from here*/
#review-section{
    padding: 2% 4%;
    border-radius: 25px;
    margin:100px;
    box-shadow: 3px 5px 34px rgb(167, 167, 163);
}

.review{
    width: 100%;
    text-align: center;
    padding: 30px;
}

.review h3{
   font-size: 1.6rem;
}

/*review ends from here*/

/*footer section starts from here*/
footer{
    text-align: center;
    background-color: rgb(171, 201, 248);
    padding: 3% 4%;
}

footer h4{
    font-size: 1.6rem;
}

ul li {
  overflow: hidden;
  display: inline-block;
}

ul li a{
    padding: 10px;
    transition: 0.3s;
}

ul li a:hover{
    background-color: rgb(164, 165, 165);
}

.social-icon{
    font-size: 2.1rem;
}
/*footer section ends from here*/
